@model Gestor.Models.CustoInsumo

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Custo de Insumo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produto.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Apelido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrcBrtCmpr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrcBrtCmpr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrdtIcms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrdtIcms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrdtIpi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrdtIpi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrdtPis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrdtPis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrdtCofins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrdtCofins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SumCrdtImpostos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SumCrdtImpostos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DespImport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DespImport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoExtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoExtra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CstUndConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CstUndConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PgmtoFornecImport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PgmtoFornecImport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoStrut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoStrut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExisteRede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExisteRede)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Retornar a lista", "Index")
</p>
