@model IEnumerable<Gestor.Models.Area>

@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Criar nova área", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.AreaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.AreaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.AreaId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.AreaId }) |
            @Html.ActionLink("Detalhes", "Details", new { id = item.AreaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.AreaId })
        </td>
    </tr>
}

</table>
