@model IEnumerable<Gestor.Models.Indice>

@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Criar novo índice", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proprio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terceiros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exportacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.Id })<br/>
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id })<br/>
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proprio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Terceiros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exportacao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = item.Id })<br/>
            @Html.ActionLink("Detalhes", "Details", new { id = item.Id })<br/>
            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
