@model Gestor.Models.MedidaFita

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MedidaFita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LarguraMm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LarguraMm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComprimentoMetros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComprimentoMetros)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MedidaFitaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
