@model IEnumerable<Gestor.Models.DetalheEstrutura>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Estrutura.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartCusto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtEftvUntrCmpnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CstCmprUndPrd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TpItmCst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlrtSbPrdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempMaq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdUndd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PsLiqdFnl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PsLiqdPrcdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HrsModFnl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HrsModPrec1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HrsModPrec2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCmpnt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PdrHoraria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdComp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CstMtrlDrt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CstMtrlPrcd1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CstMtrlPrcd2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CstMtrlPrcd3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Estrutura.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartCusto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtEftvUntrCmpnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CstCmprUndPrd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TpItmCst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlrtSbPrdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TempMaq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdUndd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PsLiqdFnl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PsLiqdPrcdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HrsModFnl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HrsModPrec1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HrsModPrec2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCmpnt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PdrHoraria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdComp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CstMtrlDrt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CstMtrlPrcd1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CstMtrlPrcd2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CstMtrlPrcd3)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DetalheEstruturaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DetalheEstruturaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DetalheEstruturaId })
        </td>
    </tr>
}

</table>
