@model Gestor.Models.ParteProduto

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Parte de Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Produto.Apelido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Apelido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dominio.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dominio.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoRateio.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoRateio.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pcp.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pcp.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoProducao.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoProducao.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdUndd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdUndd)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.QtdUndArmz)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdUndArmz)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.ParteProdutoId }) |
    @Html.ActionLink("Retornar a lista", "Index")
</p>
