@model IEnumerable<Gestor.Models.FatHistorico>

@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Criar novo faturamento histórico", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rotulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitaRecLiq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitaPeso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FitaHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuboRecLiq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuboPeso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuboHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GxfPuroRecLiq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GxfPuroPeso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GxfPuroHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GxfGrafRecLiq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GxfGrafPeso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GxfGrafHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraxaRecLiq)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraxaPeso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraxaHora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rotulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FitaRecLiq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FitaPeso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FitaHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuboRecLiq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuboPeso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuboHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GxfPuroRecLiq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GxfPuroPeso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GxfPuroHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GxfGrafRecLiq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GxfGrafPeso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GxfGrafHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraxaRecLiq)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraxaPeso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraxaHora)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.Id })
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
