@model Gestor.Models.PlanejNecessid

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlanejNecessid</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estrutura.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estrutura.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetorProducao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetorProducao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Familia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Familia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListaPlanejProducao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaPlanejProducao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedComponProducao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedComponProducao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListaNecessProdNivel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaNecessProdNivel1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NecCompListaP1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NecCompListaP1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListaNecessProdNivel2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaNecessProdNivel2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NecCompListaP2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NecCompListaP2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListaNecessProdNivel3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaNecessProdNivel3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NecCompListaP3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NecCompListaP3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ListaNecessProdNivel4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListaNecessProdNivel4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NecCompListaP4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NecCompListaP4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NecTotalComponente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NecTotalComponente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mes12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mes12)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
