@model IEnumerable<Gestor.Models.Dominio>

@{
    ViewBag.Title = "Índice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Criar novo domínio", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.DominioId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DominioId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.DominioId })
        </td>
    </tr>
}

</table>
